@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Colors
#072AC8      #43D2FF     #A2D6F9     #D1EDFF     #F4F6FC
#292E47      #6B708D     #F2F4FC     #ECF7FF     #FFC600 */


body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #F2F4FC;
}

/* --- UTILITY CLASES INI ---- */

.text-blue {
    color: #072AC8;
}

.text-yellow {
    color: #FFC600;
}


/* --- UTILITY CLASES END ---- */

h1,
h2,
h3,
#gray-p {
    color: #292E47;
}

.booking p,
.getInTouch-Button,
.contact-Us {
    color: #F4F6FC;
}

.watson p {
    color: #A2D6F9;
}

p,
.seeOurWork-Button,
address {
    color: #6B708D;
}

#orange-p {
    color: #FFC600;
}

/* ---------------------------- */
/* ------ FIRST MOBILE ------- */
/* ------- NAVBAR INI ------- MOBILE */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 7% 0 7%;
}

.logo-Circle img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

/* .nav-Menu {
    display: flex;
    font-size: 100%;
    justify-content: right;
} */

/* .nav-Menu li {
    list-style: none;
    display: inline-block;
    padding: 5%;
} */

/* .nav-Menu li a {
    text-decoration: none;
    color: #6B708D;
} */

/* .nav-Menu li a:hover {
    color: #072AC8;
} */

.contact-Us {
    display: none;
}

/* ------- NAVBAR END -------MOBILE */
/* ------- BURGUER iNI ------MOBILE */
.dropbtn {
    border: none;
    background: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.nav-Menu {
    display: none;
    position: absolute;
    top: 32px;
    right: 0;
    background-color: #F2F4FC;
    max-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    text-align: right;
    border-radius: 10%;
    margin: 0;
    padding: 0;
}

.nav-Menu li {
    margin: 0;
    padding: 0;
}

.nav-Menu li a {
    color: #6B708D;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}

.nav-Menu li a:hover {
    background-color: #FFC600;
    text-decoration: none;
    width: 60%;
    border-radius: 10%;
    color: #292E47;
}

@media (max-width:1023px) {
    .dropdown:hover .nav-Menu {
        display: inline-block;
    }

    #contact-Us-2 {
        font-size: 14px;
    }

    #turn-On {
        display: none;
    }
}

/* input:checked~ul {
    display: block;
    top: 0;
    right: 0;
} */

/* input {
    display: none;
} */

.dropbtn label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 230%;
    height: auto;
    /* width: 30px;
    height: 30px; */
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    transition: 0.3s;
}

.dropbtn label:hover {
    background: #072AC8;
    color: white;
}

/* input:checked ~ label {
    background: #072AC8;
    color: white;
    top: 0;
    right: 0; 
  } */

/* li {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
  } */

/* li:hover {
    filter: brightness(110%);
  } */

/* ------- BURGUER END ------MOBILE */
/* -------- MAIN INI --------MOBILE */

main {
    margin: 3%;
}

/* -------- MAIN END --------MOBILE */
/* ---- HERO SECTION INI ----MOBILE */

.hero-Section {
    padding: 0 4%;
    margin: 0;
}

.hero-Container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hero-Content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-Content h1 {
    text-align: center;
    line-height: 40px;
    margin: 5% 0 2% 0;
    font-weight: bold;
    font-size: 200%;
    /* font-size: 30px; */
}

.content-Paragraph {
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 5%;
    font-size: 17px;
}

.content-Button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.getInTouch-Button {
    text-decoration: none;
    cursor: pointer;
    background-color: #072AC8;
    margin-bottom: 15%;
    padding: 5% 30px;
}

.seeOurWork-Button {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.seeOurWork-Button:hover {
    color: #072AC8;
}

.hero-Images-Section {
    display: flex;
    justify-content: space-around;
}

.hero-Image {
    width: 80%;
    margin-top: 20%;
}

.card1 {
    display: none;
}

.card2 {
    display: none;
}

/* ---- HERO SECTION END ----MOBILE */
/* --- CLIENT SECTION INI ---MOBILE */

.client-Section {
    margin-top: 60px;
}

.client-Container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.client-Container img {
    filter: grayscale(1);
    width: 90px;
    height: auto;
    margin: 5px;
}

.client-Container-1 {
    display: flex;
    gap: 2%;
}

#microsoft {
    position: relative;
    top: 8%;
}

.client-Container-2 {
    display: flex;
    gap: 10%;
    justify-content: space-between;
}

#amazon {
    position: relative;
    top: 10px;
}

/* --- CLIENT SECTION END ---MOBILE */
/* -- PROJECT SECTION iINI --MOBILE */

.project-Section {
    margin-top: 60px;
    padding: 0 2%;
}

.project-Section h2 {
    margin: 10px auto;
}

.project-Sheet {
    /* padding-bottom: 10%; */
    background-color: white;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    height: 420px;
    padding: 5px;
    margin-bottom: 20px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.project-Info {
    margin: 0 5px 0 25px;
}

.learn-More {
    text-decoration: none;
}

.project-Image {
    width: 100%;
    height: 50%;
}

.project-Short-Description {
    width: 100%;
    line-height: 20px;
    font-size: 15px;
    max-height: 40px;
    text-align: justify;
    overflow: hidden;
    position: relative;
}

.project-Short-Description::after {
    content: '...';
    bottom: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), white 0%);
}

.learn-More {
    text-decoration: none;
    font-size: 17px;
    color: #072AC8;
}



/* -- PROJECT SECTION END --MOBILE */
/* -TESTIMONIAL SECTION INI-MOBILE */
.testimonial-Section {
    margin-top: 40px;
    position: relative;
}

.emo-dimension {
    width: 60px;
    height: auto;
    display: block;
    position: absolute;
}

.emoji1 {
    left: 0%;
    top: 0%;
}

.emoji3 {
    left: 0%;
    bottom: 0%;
}

.emoji2 {
    right: 0%;
    top: 0%;
}

.emoji4 {
    right: 0%;
    bottom: 0%;
}

.client {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimonial-Container {
    padding: 50px 30px;
    background-color: #292E47;
    background-image: url("./project-assets/testimonial-section/orbit.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.testimonial-Title {
    font-size: 25px;
    color: #F4F6FC;
    line-height: 30px;

}

.opinion-Client {
    font-size: 20px;
    font-weight: 500;
    max-width: 250px;
    margin-bottom: 30px;
    line-height: 160%;
}

.client-Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

}

.client-Info-Text {
    flex-direction: column;
    text-align: center;
}

.client-Info img {
    margin-bottom: 5px;
}

.watson p,
.booking p {
    margin: 5px 0;
}


/* -TESTIMONIAL SECTION END-MOBILE */
/* -- SERVICES SECTION iNI--MOBILE */
.services-Section {
    margin-top: 100px;
}

.icon-Serv-General {
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #ECF7FF;
    margin-top: 15px;
    margin-left: 15px;
    padding-bottom: 0px;
}

.icon-Services1 {
    background-image: url("./project-assets/services-section/icons/1.svg");
}

.icon-Services2 {
    background-image: url("./project-assets/services-section/icons/2.svg");
}

.icon-Services3 {
    background-image: url("./project-assets/services-section/icons/3.svg");
}

.service-Sheet {
    padding-bottom: 10%;
    background-color: white;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    height: 270px;
    padding: 5px;
    margin-bottom: 20px;
}

/* -- SERVICES SECTION END--MOBILE */
/* ---- CTA SECTION ini ----MOBILE */
.cta-Section {
    margin-top: 100px;
}

.cta-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFC600;
    padding: 50px 30px;
    text-align: center;
}

.form-Container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.enter-Email {
    position: relative;
}

.envelop-Icon {
    position: absolute;
    top: 10%;
    left: 4%;
}

#email {
    line-height: 16px;
    height: 30px;
    padding: 12px 12px 12px 45px;
    text-align: center;
    font-size: 14px;
    border: none;
}

#submit {
    margin-top: 20px;
    color: #ffffff;
    background-color: #072AC8;
    padding: 20px 45px;
    font-weight: 500;
    border: none;
    font-size: 17px;
}

/* ---- CTA SECTION END ----MOBILE */
/* -- FOOTER SECTION ini ---MOBILE */
.footer-Section {
    margin-top: 60px;
    padding: 0 30px 30px 30px
}

.footer-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-Article img {
    margin-bottom: 15px;
    width: 60px;
    height: 18px;
    cursor: pointer;
}

.footer-Article address {
    font-size: 17px;
    line-height: 24px;
    font-style: normal;
}

.footer-Links {
    font-size: 10px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer-Links a {
    text-decoration: none;
    color: #5e6068;
}

.footer-Links a:hover {
    text-decoration: none;
    color: #072AC8;
}



/* -- FOOTER SECTION END ---MOBILE */
/* ------------------------------- */
/* -- contactUs.HTML iNI ---MOBILE */

.contactUs-Section2 {
    padding: 0 30px;
    margin: 80px 0 100px;
}

.contactUs-Section2 h2 {
    font-size: 1.5em;
    margin: 50px 0 40px;
    color: #072AC8;
    font-weight: 700;
}

.contactUs-Container2 {
    width: 100%;
}

.contact-Form2 {
    display: grid;
    max-width: 100%;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "name  "
        "email "
        "phone"
        "message "
        "btn ";
}

.name {
    grid-area: name;
}

.email {
    grid-area: email;
}

.phone {
    grid-area: phone;
}

.message {
    grid-area: message;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.input:valid {
    color: #072AC8;
}

.contact-Title {
    color: #6b708d;
    font-size: 1.25em;
    font-weight: 500;
    padding-top: 2%;
    padding-bottom: 2%;
}

.contact-Text-Field {
    width: 100%;
    height: 70px;
    padding-left: 20px;
    border: none;
    background-color: rgba(107, 112, 141, 0.1);
}

.contact-Text-Field:focus {
    outline: none;
    border: 1px solid #f2f4fc;
    box-shadow: 0 0 5px #6b708d;
}

.textArea-Field {
    height: 200px;
    resize: none;
    padding-top: 20px;
}

.textArea-Field::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    /* padding-top: 30px; */
    /* text-indent: 20px; */
}

.button-Form {
    background-color: #072ac8;
    width: 100%;
    height: 80px;
    padding: 15px 30px 0 30px;
    font-size: 1.1em;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    grid-area: btn;
}

.button-Form:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    background-color: #514d67;
    color: #ffffff;

}

/* -- contactUs.HTML END ---MOBILE */

/* -- PROJECT.HTML INI ---MOBILE */

.project-Section-Big {
    padding: 0 2%;
    margin: 0;
}

.project-Sheet-Big {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 38.7755px -77.551px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#F2F4FC, #ffffff);
}

.project-Name-Big {
    color: #292E47;
    margin: 20px 0 0;
}

.project-Info-Big {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
}

.project-Short-Description-Big {
    width: 100%;
    font-size: 70%;
    text-align: left;
    font-weight: 500;
    margin: 10px 0;
}

.project-Info-Date {
    width: 100%;
    font-size: 70%;
    text-align: left;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.project-Image-Big {
    width: 100%;
    height: 40%;
}

.project-Info-Big {
    margin-left: 0%;

}

.project-Short-Description-Big {
    /* paragrahpX */
    color: #6a6a72;
    font-weight: 10;
}

.container-Project-Text {
    margin: 0 5px 0 25px;
}






/* -- PROJECT.HTML END ---MOBILE */



/* ------------------------------ */
/* ------ FIRST MOBILE END ----- */
/* ---------------------------- */


/* -- BREAK POINT 1440 INI --- */


@media (min-width: 1440px) {

    /* ------ BURGUER INI -------@1440 */
    .dropbtn label {
        display: none;
    }

    .dropdown button {
        display: none;
    }

    /* ------ BURGUER END -------@1440 */
    /* ------- NAVBAR INI -------@1440 */

    header {
        display: flex;
        padding: 70px 170px 0 170px;
    }

    .logo-Circle img {
        width: 110%;
        margin-right: 15%;
    }

    .dropdown {
        display: flex;
        flex-direction: row;
        bottom: 57px;
        margin: 0 auto;
    }

    .nav-Menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 17px;
        justify-content: center;
        font-weight: 500;
        box-shadow: none;
        margin: 0 auto;
    }

    .nav-Menu li {
        list-style: none;
        display: block;
        padding: 5%;
        background: none;
        border-bottom: none;
    }

    .nav-Menu li a {
        text-decoration: none;
        color: #6B708D;
    }

    .nav-Menu li a:hover {
        color: #072AC8;
    }

    #turn-On {
        color: #072AC8;
        font-weight: 600;
    }

    #turn-On:hover {
        color: #292E47;
    }

    #contact-Us-2 a {
        display: none;
    }

    .contact-Us {
        display: block;
        transition: 0, 5s;
        background-color: #072AC8;
        font-size: 17px;
        padding: 15px 3px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        width: 150px;
    }

    .logo-Circle img:hover {
        animation: rotation 1s infinite linear
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }

    /* ------- NAVBAR END -------@1440 */


    /* -------- MAIN INI --------@1440 */
    main {
        width: 100%;
        margin: 0;
    }

    /* -------- MAIN END --------@1440 */
    /* ---- HERO SECTION INI ----@1440 */

    .hero-Section {
        padding: 50px 170px 0 170px;
        display: flex;
    }

    .hero-Container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .hero-Content {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        text-align: left;
        width: 100%;
        height: auto;

    }

    .hero-Content h1 {
        text-align: left;
        line-height: 110%;
        margin: 0;
        font-size: 370%;
        max-width: 89%;
        font-weight: 700;
    }

    p {
        margin: 5% 0 7%;
    }

    .content-Paragraph {
        display: flex;
        width: auto;
        max-width: 80%;
        text-align: left;
        font-size: 127%;
        line-height: 150%;
        margin: 0;
        font-weight: 400;
    }

    .content-Button {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        align-self: flex-start;
        gap: 10px;
    }

    .getInTouch-Button {
        display: block;
        transition: 0.5s;
        font-size: 90%;
        line-height: 100%;
        padding: 0 auto;
        margin-bottom: 0;
        font-weight: 500;
    }

    .getInTouch-Button:hover {
        background-color: #F2F4FC;
        color: #6B708D;
    }

    .seeOurWork-Button {
        font-size: 90%;
        font-weight: 500;
        line-height: 100%;
        padding: 15px 30px;
        cursor: pointer;
        border: #F4F6FC solid thin
    }

    .seeOurWork-Button:hover {
        display: block;
        transition: 0.5s ease;
        padding: 15px 30px;
        border: #072AC8 solid thin;
    }

    .hero-Images-Section {
        position: relative;
        display: flex;
        width: 100%;
    }

    .hero-Image {
        width: 100%
    }

    .card1 {
        display: block;
        width: 65%;
        height: auto;
        position: absolute;
        top: 11%;
        right: 52%;
    }

    .card2 {
        display: block;
        width: 65%;
        height: 47%;
        position: absolute;
        top: 70%;
        right: -17%;
    }

    /* ---- HERO SECTION END ----@1440 */
    /* --- CLIENT SECTION INI ---@1440 */
    .client-Section {
        display: flex;
        margin-top: 150px;
        padding: 0 170px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .client-Container {
        display: flex;
        justify-content: space-around;
        gap: 30px;
    }

    .client-Container-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .client-Container-2 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .client-Container img {
        width: 150px;
        height: 96px;
        margin: 0 30px 0 30px;
    }

    .client-Container img:hover {
        filter: grayscale(0);
        filter: none;
    }


    /* --- CLIENT SECTION END ---@1440 */
    /* -- PROJECT SECTION iINI --@1440 */

    .project-Section {
        margin-top: 150px;
        padding: 0 170px;
    }

    .project-Section h2 {
        color: #292E47;
        text-align: left;
        font-size: 40px;
        font-weight: 700;
        line-height: 47px;
    }

    .project-Container {
        display: grid;
        grid-auto-flow: row;
        gap: 20px;
        grid-template-columns: 31% 31% 31%;
        justify-content: space-between;
        justify-items: start;
    }

    .project-Name {
        margin-bottom: 0;
    }

    .project-Short-Description p {
        font-size: 17px;
        font-weight: 400;
        max-height: 40px;
        text-align: justify;
        overflow: hidden;
        margin-top: 0;
        width: 100%;
    }

    .project-Short-Description p:after {
        content: '...';
        background: linear-gradient(to right, rgba(0, 0, 0, 0), white 0%);
    }

    .project-Info h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
    }

    .project-Info {
        display: flex;
        padding-left: 5px;
        padding-right: 10px;
        height: 200px;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    .project-Sheet {
        background-color: white;
        box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
        height: 450px;
    }

    article img {
        width: 100%;
        height: 240px;
    }

    #proy-img3 {
        object-fit: cover;
    }

    .learn-More {
        font-size: 17px;
        padding-top: 10px;
    }

    /* -- PROJECT SECTION END --@1440 */
    /* -TESTIMONIAL SECTION iNI-@1440 */
    .testimonial-Section {
        margin-top: 150px;
        padding: 0 60px;
        position: relative
    }

    .testimonial-Container {
        padding: 140px 30px;
    }

    .emo-dimension {
        width: 150px;
    }

    .emoji1 {
        left: 10%;
        top: 10%;
    }

    .emoji3 {
        left: 10%;
        bottom: 10%;
    }

    .emoji2 {
        right: 10%;
        top: 10%;
    }

    .emoji4 {
        right: 10%;
        bottom: 10%;
    }

    /* -TESTIMONIAL SECTION END-@1440  */
    /* -- SERVICES SECTION iNI --@1440 */
    .services-Section {
        margin-top: 150px;
        padding: 0 170px;
    }

    .service-Sheet {
        height: 325px;
    }

    /* -- SERVICES SECTION END --@1440 */
    /* ----- CTA SECTION ini ----@1440 */
    .cta-Section {
        margin-top: 130px;
        padding: 0 60px;
    }

    .cta-Container {
        height: 400px;
    }

    .cta-Container h2 {
        font-size: 40px;
    }

    .content {
        display: flex;
        flex-direction: row;
    }

    #gray-p {
        font-size: 20px;
        margin: 0 auto;

    }

    .enter-Email {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    #email {
        height: 35px;
        border: #FFC600 solid thin;
    }

    #submit {
        margin-top: 0;
        margin-left: 20px;
        display: block;
        transition: 0.5s;
        border: #FFC600 solid thin;
    }

    #submit:active {
        background-color: #FFC600;
        color: #292E47;
        font-weight: 500;
        border: #072AC8 solid thin;
        transform: scale(0.98);
        /* Scaling button to 0.98 to its original size */
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    }

    .envelop-Icon {
        position: absolute;
        top: 22%;
        left: 4%;
    }

    #error-Index{
        padding-top: 20px;
    }

    /* ----- CTA SECTION END ----@1440 */
    /* --- FOOTER SECTION ini ---@1440 */
    .footer-Section {
        margin-top: 150px;
        padding: 0 200px 100px 200px;
    }

    .footer-Container {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 0 10px;
    }

    .footer-Article {
        width: 40%;
    }

    .footer-Article img {
        width: 100px;
        height: 30px;
    }

    .footer-Article img:hover {
        animation: rotation 1s infinite linear
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }



    .footer-Links {
        margin-top: 0px;
        align-self: flex-end;
        row-gap: 50px;
        font-size: 17px;
    }

    /* --- FOOTER SECTION END ---@1440 */
    /* ------------------------------- */
    /* -- contactUs.HTML iNI ----@1440 */


    .contactUs-Section2 {
        margin: 100px 0 140px;
        padding: 0 170px;
    }

    .contactUs-Section2 h2 {
        margin-bottom: 20px;
        font-size: 1.75em;
    }

    .contact-Form2 {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "name  name"
            "email phone"
            "message  message"
            "btn btn";
    }

    .input:valid {
        color: #072AC8;
    }

    #text-To-User {
        background-color: #A2D6F9;
        width: 100%;
        height: 36px;
        margin: 0;
    }

    /* -- contactUs.HTML END ----@1440 */

    /* ---- PROJECT.HTML iNI ----@1440 */

    .project-Section-Big {
        padding: 70px 170px 0 170px;
    }

    .project-Name-Big {
        font-size: 40px;
    }

    .project-Info-Big {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .project-Short-Description-Big {
        font-size: 24px;
        font-weight: 400;
    }

    .project-Info-Date {
        text-align: right;
        font-size: 20px;
    }

    .project-Text {
        font-size: 20px;
        font-weight: 400;
        margin-top: 70px;
    }


    /* ---- PROJECT.HTML END ----@1440 */



}

/* -- BREAK POINT @1440 END -- */